@import "@radix-ui/themes/styles.css";
@import "tailwindcss";
@import "tailwindcss/utilities";
@import './theme-config.css';
@plugin "@tailwindcss/typography";



@theme {
  --color-mint-500: oklch(0.72 0.11 178);

  --color-primary: rgb(199, 0, 57);


  --color-bglight: rgb(245, 245, 245);
  --color-textlight: rgb(0, 0, 0);

  --color-bgdark: rgb(38, 38, 38);
  --color-textdark: rgb(255, 255, 255);

}